<div id="map"></div>
<script>
L.mapbox.accessToken = "pk.eyJ1IjoiaGF5bGV5ODQ4IiwiYSI6IkQyODlVOTQifQ.J8Cs4da-18NygbR2bHqwJw";
var map = L.mapbox.map("map", "hayley848.kcc07p1e")
    .setView([40.7496821, -73.9704147], 14);
</script>
