<h2>About SaferNYC</h2>

<p>SaferNYC visualizes recent car collisions in New York City
  involving pedestrians and cyclists. It is an effort to
  highlight the risks posed by cars and encourage increased
  safety for pedestrians and cyclists.</p>

<p>Pedestrian and cyclist safety is a major concern in New
  York City, and this application serves to highlight the
  severity of the problem. The city is working on this
  problem through the Vision Zero initiative, which includes
  policy efforts and a few mapping applications. SaferNYC
  complements the <a href="http://www.nycvzv.info" title=
  "Vision Zero View" target="_blank">Vision Zero View</a>
  collision map that visualizes data slightly differently and
  shows historical rather than recent data.</p>

<p>SaferNYC was created by <a href="http://hayleyanderson.us"
  title="Hayley Anderson Website" target="_blank">Hayley
  Anderson</a> as her capstone project for the Fall 2014 Ruby
  on Rails program at <a href="http://www.thisismetis.com"
  title="Metis Technology Skills Bootcamps" target="_blank">
  Metis</a>. It was created mainly using Ruby and JavaScript,
  with help from the great technology provided by <a href=
  "https://www.mapbox.com/about/maps/" title="Mapbox Maps"
  target="_blank">Mapbox</a>, <a href="http://www.
  openstreetmap.org/about" title="OpenStreetMap" target=
  "_blank">OpenStreetMap</a>, and <a href="http://leafletjs.
  com" title="Leaflet JavaScript Library" target="_blank">
  Leaflet</a>. You can find the code for SaferNYC on GitHub
  <a href="https://github.com/HayleyCAnderson/SaferNYC" title=
  "SaferNYC GitHub Repository" target="_blank">here</a>.</p>
