<nav id="menu" class="menu"></nav>
<div id="map"></div>

<script>
  MAPBOX_ACCESS_TOKEN = "<%= ENV['mapbox_access_token'] %>";
  MAPBOX_MAP_ID = "<%= ENV['mapbox_map_id'] %>";
  markerDataSet = <%= @marker_data_set.html_safe %>;
</script>
