body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

.menu {
  background: lighten($grey,20%);
  border-radius: 4px;
  height: 35px;
  margin: 0;
  padding: 10px 4px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: background .2s ease-in-out;
  width: 162px;
  z-index: 1;

  a {
    border-radius: 4px;
    color: darken($grey, 40%);
    display: inline;
    font-size: .9em;
    font-weight: $normal;
    margin: 0;
    padding: 14px 10px;
    position: relative;
    text-decoration: none;
    top: 8px;
  }

  a.active {
    background: $white;
    border-bottom: 2px solid $grey;
    border-right: 2px solid $grey;
  }
}

.menu:hover {
  background: lighten($grey,15%);
}

.about-nav {
  bottom: 10px;
  height: 25px;
  left: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  transition: background .2s ease-in-out;
  z-index: 1;

  a {
    background: rgba(60,58,56,.9);
    border-radius: 4px;
    color: rgba(255,255,255,.9);
    display: inline;
    font-size: 1em;
    font-weight: $bold;
    height: 100%;
    margin: 0;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    text-decoration: none;
  }

  a:hover {
    color: $water-blue;
  }

  .active {
    color: $grass-green;
  }
}

.about {
  background: rgba(255,255,255,.9);
  border: 1px solid darken($grey, 20%);
  border-radius: 4px;
  bottom: 55px;
  display: none;
  font-weight: $narrow;
  left: 10px;
  padding: 10px;
  position: absolute;
  width: 40%;
  z-index: 1;

  h2 {
    color: $dark-grey;
    font-size: 1.4em;
    font-weight: $normal;
    margin: 5px 5px 10px 5px;
  }

  p {
    font-size: .9em;
    margin: 15px 5px 10px 5px;
    color: darken(#3C3A38, 20%);
  }

  a {
    color: $pedestrian-pink;
    font-weight: $normal;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.about-active {
  display: block;
}

.emphasized {
  font-style: italic;
}

#dates {
  display: none;
}
