body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu {
  background: lighten(#BFB7B0,20%);
  border-radius: 4px;
  height: 35px;
  margin: 0;
  padding: 10px 4px;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: background .2s ease-in-out;
  width: 162px;
  z-index: 1;

  a {
    border-radius: 4px;
    color: darken(#BFB7B0, 40%);
    display: inline;
    font-size: .9em;
    font-weight: 400;
    margin: 0;
    padding: 14px 10px;
    position: relative;
    text-decoration: none;
    top: 8px;
  }

  a.active {
    background: #fff;
    border-bottom: 2px solid #BFB7B0;
    border-right: 2px solid #BFB7B0;
  }
}

.menu:hover {
  background: lighten(#BFB7B0,15%);
}

#dates {
  display: none;
}
