body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.menu {
  background: lighten(#BFB7B0,20%);
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  margin: 0;
  padding: 12px 6px;
  border-radius: 48px;
  width: 240px;
  height: 24px;
  transition: background .2s ease-in-out;

  a {
    position: relative;
    font-size: .75em;
    color: lighten(#404040,20%);
    display: inline;
    margin: 0;
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 24px;
    height: 90%;
  }

  a.active {
    background: #fff;
  }
}

.menu:hover {
  background: lighten(#BFB7B0,17%);
}
