#map {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.popup {
  font-weight: 300;
  margin: -11px;
  margin-bottom: -18px;
  padding: 5px;
  padding-bottom: -5px;

  p {
    font-size: .85em;
    margin: 0;
  }
}
