$aqua: #5FCBCA;
$bold: 600;
$dark-grey: #3C3A38;
$dark-transparent-grey: rgba(60,58,56,.9);
$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$grey: #BFB7B0;
$narrow: 300;
$normal: 400;
$pale-pink: #EAA1B9;
$pink: #AA2C3F;
$white: #FFFFFF;
$yellow: #F9C433;
