$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$narrow: 300;
$normal: 400;
$bold: 600;
$white: #FFFFFF;
$grey: #BFB7B0;
$dark-grey: #3C3A38;
$water-blue: #74B7E7;
$grass-green: #C7D89D;
$pedestrian-pink: #AA2C3F;
