<!DOCTYPE html>
<html>
<head>
  <title>Safer NYC</title>
  <% google_webfonts_link_tag open_sans: [300, "300italic", 400, 600] %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.0/leaflet-heat.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
